* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}




.tituloPrincipal{
    color: #0b68eb;
    
}

.tituloFav {
    color: #0b68eb;
    padding: 40px 20px 20px 20px;
}

.titulos {
    
    
    color: #0b68eb;
    padding: 1px 5px 20px 1px;
}

.lugares {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 20px;
}

#imgPrincipal{
  background: url("../settings/aviao.jpg") no-repeat center center/cover;
  color: #0b68eb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

form {
    display: inline-block;
    align-items: center;
   position: relative;
   left: 300px;
   background-color: #0b68eb    ;
}





