*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    height: 100vh;
}

.menu {
    background-color: #03037b;
    color: white;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

form {
    display: inline-block;
    align-items: center;
   position: relative;
   left: 300px;
   font-size: large;
   color: #0b68eb;
   margin: 50px 0px 40px 300px;
  
   
}


img {
    border-radius: 5px;
}

footer{
    background-color: #03037b;
    color: white;
    display: relative;
    margin-top: 200px;
    
    
}

.letra {
    display: flex;
    align-items: center;
    justify-content: center;
}