*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    background-color: #03037b;
    color: white;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

.formulario{
    display: flex;
    align-items: center;
    justify-items: center;
}

form {
    height: 400px;
    width: 400px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
}

img {
    border-radius: 5px;
}
