*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    background-color: #03037b;
    color: white;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

a {
    color: white;
    text-decoration: none;
    
}

.tituloPrincipal {
    color: #0b68eb;
    padding: 20px 20px 5px 20px;
}

.tituloP {
    padding: 5px 20px 5px 20px;
    color: #0b68eb;
}

.titulos {
    color: #0b68eb;
    padding: 5px 5px 10px 10px ;
}

